@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bangers&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nosifer&family=Protest+Revolution&family=Yatra+One&display=swap');

body{
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
    overflow:visible;
    background-color: black;
}
#backgroundv{
    width: 100%;
    object-fit: cover;
    margin-top: -100px;
}
.container h1{
    z-index: 1;
    color: yellow;
    font-size: 100px;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: -650px;
    text-align: center;
}
.container-btn-1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.container-btn-1 button{
    width: 400px;
    height: 50px;
    background-color: yellow;
    font-family: "Nosifer";
}
.container-btn-1 a{
    cursor: pointer;
}
.container-fluid {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.navbar{
    background-color: black;
}

/*section -2 */
 
.section-2{
    padding: 100vh 0;
    margin-top: 300px;
}
.text-2 img{
    width: 50px;
    height: 50px;
}
.text-2 h1{
    font-size: 80px;
    color: white;
}
.text-2{
    width: 700px;
}
.text-2 p{
    color: yellow;
    font-size: 25px;
}
.big-container-2{
    margin-left: 80px;
    gap: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.image-2{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: -850px;
    margin-right: 200px;
}
.image-2 img:nth-child(1){
    margin-right: -650px;
}
 
/*section - 3*/

.container-3 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 200px;
}
.container-3 h2{
    color: yellow;
}
.container-3 p{
    color: white;
}
.container-3{
    width: 400px;
}
.container-3 hr{
    width: 60px;
    border: 3px solid white;
}
.big-container-3{
    display: flex;
    justify-content: center;
    gap: 150px;
}
.title-3 h1{
    font-size: 60px;
    color: black;
}
.title-3{
    margin-top: -150px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    background-color: yellow;
}
.section-3{
    padding: 100vh 0;
}
/* section - 4*/
.section-4{
    padding: 300px 0;
}
.container-4 img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.big-container-4{
    display: flex;
    justify-content: center;
    gap: 300px;
}
.container-4 h2{
    color: yellow;
}
.container-4 p{
    color: white;
}
.container-4{
    width: 300px;
}
.big-title-4{
    display: flex;
    justify-content: center;
    margin-top: -300px;
    margin-bottom: 350px;
}
.title-4{
    background-color: yellow;
}
.title-4 h1{
    color: black;
}
/* section - 5*/

#back{
    width: 100%;
    object-fit: cover; 
}
.big-title-5{
    margin-top: -850px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.title-5{
    width: 600px;
}
.title-5 p{
    color: white;
}

/*section - 6 */
.section-6{
    padding: 300px 0;
}
.container-6 img{
    width: 300px;
    height: 300px;
}
.big-container-6{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    gap: 300px;
}
.container-6 h2{
    color: black;
    background-color: yellow;
}
.container-6 p{
    color: white;
}
.title-6{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.title-6 h1{
    font-size: 80px;
    color: white;
}

/*footer */

#back-foot{
    width: 100%;
    object-fit: cover;
}
.title-foot h1{
    color: yellow;
    font-size: 80px;
}
.title-foot{
    margin-top: -800px;
    margin-left: 150px;
}
.big-container-foot{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right:300px ;
    text-align: start;
    gap: 50px;
}
.container-foot img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.container-foot h1{
    color: yellow;
    margin-bottom: 10px;
}
.container-foot p{
    color: white;
}
.foot-small{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width:1470px) {
    .image-2{
        margin-right: 100px;
        margin-top: -500px;
    }
    .image-2 img{
        width: 400px;
        height: 400px;
        object-fit: cover;
    }
    .image-2 img:nth-child(1){
        margin-right: -400px;
    }
     
    /* section 4*/
    .big-container-4{
        margin-left: 30px;
    }

    /* section - 5 */

    .big-title-5{
        margin-top: -700px;
    }

    /* section - 6 */

    .big-container-6{
        margin: 0 250px;
    }

    /* footer */
    
    #back-foot{
        width: 2000px;
    }
}

@media(max-width:1350px){
    /*section -1 */

    .container h1{
        font-size: 80px;
        padding: 20px 20px;
    }
    nav{
        margin-bottom: 50px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #backgroundv{
        width: 100%;
    }

    /*section -2 */

    .text-2 h1{
        font-size: 60px;
    }
    .text-2 p{
        font-size: 20px;
    }
    .image-2{
        margin-right: 20px;
        margin-top: -450px;
    }

    /*section - 3*/

    .title-3{
        width: 120%;
    }
    .big-container-3{
        margin-left: 200px;
    }

    /* section - 5*/
    
    #back{
        width: 1880px;
    }
    .big-title-5{
        margin-left: 300px;
    }

    /* section - 6  */

    .big-container-6{
        margin-left: 300px;
        gap: 150px;
    }
    .title-6{
        margin-left: 100px;
        width: 1200px;
    }
}
@media(max-width:1200px){
    .container h1{
        font-size: 50px;
        padding: 20px 20px;
    }
    .container{
        margin-top: -500px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #backgroundv{
        width: 100%;
        height: auto;
    }
    /*section 2*/
    .text-2 h1{
        font-size: 50px;
    }
    .text-2 p{
        font-size: 18px;
    }
    .image-2{
        margin-right: -100px;
        margin-top: -350px;
    }
    .image-2 img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .image-2 img:nth-child(1){
        margin-right: -300px;
    }

    /* section - 4*/

    .big-container-4{
        padding: 0 30px;
        margin-left: 180px;
    }
    /* section - 5 */

    .big-title-5{
        margin-left: 400px;
    }

    /* section - 6 */

    .big-container-6{
        margin-left: 600px;
    }
    
    .big-container-foot{
        margin-right: 50px;
    }
}
@media(max-width:960px){
    .container h1{
        font-size: 40px;
        padding: 20px 20px;
    }
    .container{
        margin-top: -400px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #backgroundv{
        width: 100%;
        height: auto;
    }
    .container-btn-1 button{
        width: 200px;
        font-size: 15px;
    }
    /* section -2 */
    .text-2 h1{
        font-size: 40px;
    }
    .text-2 p{
        font-size: 15px;
    }
    .text-2{
        width: 500px;
    }
    .image-2{
        margin-right: -180px;
        margin-top: -350px;
    }
    .image-2 img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .image-2 img:nth-child(1){
        margin-right: -300px;
    }

    /* section -3 */

    .container-3 img{
        width: 200px;
        height: 200px;
    }
    .big-container-3{
        margin-left: 350px;
    }
    .title-3{
        width: 150%;
    }
    /* section -4 */

    .big-container-4{
        margin-left: 400px;
    }
    .big-title-4{
        margin-left: 550px;
    }

    /* section - 5 */

    .big-title-5{
        margin-left: 350px;
        width: 1000px;
    }

    /* footer */

    .big-container-foot{
        margin-right: -300px;
    }
}
@media(max-width:750px){
    .container h1{
        font-size: 30px;
        padding: 20px 20px;
    }
    .container{
        margin-top: -300px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #backgroundv{
        width: 100%;
        height: auto;
    }
    .container-btn-1 button{
        width: 150px;
        font-size: 13px;
    }

    /*section -2 */

    .text-2 h1{
        font-size: 40px;
    }
    .text-2 p{
        font-size: 15px;
    }
    .text-2{
        width: 400px;
    }
    .image-2{
        margin-right: -300px;
        margin-top: -350px;
    }
    .image-2 img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .image-2 img:nth-child(1){
        margin-right: -300px;
    }
    /* section -3 */

    .title-3 h1{
        font-size: 40px;
    }
    .title-3{
        width: 180%;
    }
    .big-container-3{
        margin-left: 500px;
        padding: 10px 10px;
    }

    /* section -4 */

    .big-container-4{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 500px;
    }
    .big-title-4{
        width: 400px;
        margin-left: 500px;
    }
    /* section - 5 */

    .big-title-5{
        margin-top: -800px;
    }
}
@media(max-width:580px){
    .container h1{
        font-size: 25px;
        padding: 20px 20px;
    }
    .container{
        margin-top: -250px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #backgroundv{
        width: 100%;
        height: auto;
    }
    .container-btn-1 button{
        width: 100px;
        font-size: 10px;
    }
    

    /* section -2 */

    .text-2 h1{
        font-size: 40px;
    }
    .text-2 p{
        font-size: 15px;
    }
    .text-2{
        width: 400px;
    }
    .image-2{
        margin-right: -400px;
        margin-top: -350px;
    }
    .image-2 img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .image-2 img:nth-child(1){
        margin-right: -300px;
    }

    /* section -3 */

    .big-container-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-3{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .title-3{
        margin-left: 100px;
    }
    .title-3 h1{
        font-size: 35px;
    }

    /* section -4 */

    .big-container-4{
        margin-left: 400px;
    }
    .big-title-4{
        margin-left: 400px;
    }
}
@media(max-width:480px){
    .container h1{
        font-size: 50px;
        padding: 20px 20px;
    }
    .container{
        display: flex;
        justify-content: center;
        margin-left: 250px;
        margin-top: -600px;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #backgroundv{
        width: 300%;
        height: 100vh;
        padding-top: -10px;
    }
    .container-btn-1 button{
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
    .container-btn-1{
        margin-top: 5px;
        margin-left:450px ;
    }
    nav{
        width: 300%;
        visibility:hidden;
    }
    /* section -2 */

    .text-2 h1{
        font-size: 60px;
    }
    .text-2 p{
        font-size: 25px;
    }
    .text-2{
        width: 500px;
        text-align: center;
        margin-left: 150px;
    }
    .big-container-2{
        display: flex;
        justify-content: center;
        margin-top: -400px;
    }
    .image-2{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-left: 160px;
    }
    .image-2 img{
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
    .image-2 img:nth-child(1){
        margin-right: -300px;
    }
    /*section -3 */

    .title-3 h1{
        font-size:50px;
    }
    .title-3{
        width: 1200px;
        margin: 0;
    }
    .container-3 img{
        width: 400px;
        height: 400px;
    }
    .container-3 h2{
        font-size: 40px;
    }
    .container-3 p{
        font-size: 30px;
    }
    .big-container-3{
        margin-top: 100px;
    }
    .container-3{
        text-align: center;
    }
    /* section - 4*/
    .container-4 h2{
        font-size: 40px;
    }
    .container-4 p{
        font-size: 30px;
    }
    .title-4 h1{
        font-size: 50px;
    }
    .big-title-4{
        width: 800px;
        margin-left: 180px;
    }
    /* section - 5 */

    .big-title-5{
        margin-left: 500px;
    }

    /* section - 6 */

    .big-container-6{
        flex-direction: column;
        text-align: center;
    }
    .container-6{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .container-6 h2{
        font-size: 40px;
    }
    .container-6 p{
        font-size: 40px;
    }
    .title-6{
        width: 400px;
        text-align: center;
        margin-left: 400px;
    }
    /* footer */

    .container-foot h1{
        font-size: 60px;
    }
    .container-foot p{
        font-size: 40px;
    }
    .big-container-foot{
        margin-right: -700px;
    }
}
